﻿@using System.Web.UI.WebControls
@using OpenKy.Domain.Entities
@model IEnumerable<OpenKy.Domain.Entities.Facility>

@{
    var lstBuilding = ViewBag.BuildingList as IQueryable<Building>;
    var lstManager = ViewBag.MemberList as IQueryable<Member>;
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Floor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Building)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if(item.Building == null)
                {
                    @Html.Raw("야외시설물")
                }
                else
                {
                    Building b = lstBuilding.First(e => e.Id == item.Building);
                    @Html.Raw(b.Name)
                }
            </td>
            <td>
                @{ Member m = lstManager.First(e => e.Number == item.Manager);}
                @Html.Raw(m.Name + " [" + m.Number + "]")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
</table>

@if(!Model.Any())
{@Html.Raw("항목이 없습니다.")}
    
