﻿@using OpenKy.Domain.Entities
@model IEnumerable<OpenKy.Domain.Entities.Course>

@{
    var professors = ViewBag.ProfessorList as IQueryable<Member>;
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Divide)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Professor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Training)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Divide)
        </td>
        <td>
            @{
                var professor = professors.First(e => e.Number == item.Professor);
                @Html.Raw(professor.Name)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Training)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Code }) |
            @Html.ActionLink("Details", "Details", new { id=item.Code }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Code }) |
            @Html.ActionLink("TimeTable", "Index", "TimeTables", new{ id = item.Code }, new { target = "_blank" })
        </td>
    </tr>
}

</table>
@if (!Model.Any())
{@Html.Raw("항목이 없습니다.")}