﻿@using System.Collections.Specialized
@using Newtonsoft.Json
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OpenKy Web Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Web Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li role="presentation">@Html.ActionLink("Building", "Index", "Buildings")</li>
                    <li role="presentation">@Html.ActionLink("Facility", "Index", "Facilities")</li>
                    <li role="presentation">@Html.ActionLink("Course", "Index", "Courses")</li>
                    <li role="presentation">@Html.ActionLink("Department", "Index", "Departments")</li>
                    <li role="presentation">@Html.ActionLink("Member", "Index", "Members")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content">
        <article>
            @RenderBody()
        </article>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Create by Team 열려라 참깨</p>
        </footer>
    </div>
</body>
</html>