﻿<ul class="nav navbar-nav navbar-right">
    @if (Session["UserType"] != null)
    {
        <li>
            @Html.ActionLink(Session["Name"].ToString(), "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("로그아웃", "Logout", "Account")
        </li>
    }
    else
    {
        <li>@Html.ActionLink("로그인", "Index", "Account")</li>
    }
</ul>