﻿@using OpenKy.Domain.Entities
@model IEnumerable<OpenKy.Domain.Entities.Member>

@{
    
    var departments = ViewBag.Departments as IQueryable<Department>;
    var types = ViewBag.TypeDefines as IQueryable<TypeDefine>;
    
    ViewBag.Title = "Member Table Index";
}

<h2>Member Table Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
            @Html.ActionLink(" ", "index", "Departments", null, new { @class = "glyphicon glyphicon-pencil", target = "_blank" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
            @Html.ActionLink(" ", "index", "TypeDefines", null, new { @class = "glyphicon glyphicon-pencil", target = "_blank" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{ 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @{
                var d = departments.FirstOrDefault(e=>e.Code == item.Department);
                if (d != null)
                {
                    @Html.Raw(d.Name + "(");
                    @Html.DisplayFor(modelItem => item.Department)
                    @Html.Raw(")");
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Department)
                }
            }
        </td>
        <td>
            @{
                var t = types.FirstOrDefault(e => e.Type == item.Type);
                if(t != null)
                {
                    @Html.Raw(t.Name + "(");
                    @Html.DisplayFor(modelitem => item.Type);
                    @Html.Raw(")")
                }
                else
                {
                    @Html.DisplayFor(modelitem => item.Type);
                }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Number }) |
            @Html.ActionLink("Details", "Details", new { id=item.Number }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Number })
        </td>
    </tr>
}

</table>
@if (!Model.Any())
{@Html.Raw("항목이 없습니다.")}