﻿@model OpenKy.WebUI.Model.LoginModel

@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

@using(Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(member => member.Number, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(member => member.Number, new {htmlAttribute = new { @class = "form-control" }})
                @Html.ValidationMessageFor(member=>member.Number, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(member => member.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(member => member.Password, new { htmlAttribute = new { @class = "form-control" } })
                @Html.ValidationMessageFor(member => member.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="로그인" class="btn btn-default" />
            </div>
        </div>
    </div>
}