﻿@model IEnumerable<OpenKy.Domain.Entities.TypeDefine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Type }) |
            @Html.ActionLink("Details", "Details", new { id=item.Type }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Type })
        </td>
    </tr>
}

</table>
@if (!Model.Any())
{@Html.Raw("항목이 없습니다.")}